body {
  background-color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #777777

}

#container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: #ebebeb;
  width: 960px;
  height: 80px;
  color: black;
  text-align: center;
  font: arial;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  color: #777777
}




#nav {
  text-align: center;
  background-color: #ebebeb;
  width: 960px;
  height: 80px;
  margin: 0px 0px 10px 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

.row{
  margin: 0px 0px 10px 0px;
  height: 270px;
}
#section {
  padding: 10px;
  background-color: #ebebeb;
  width: 55%;
  height: 250px;
  float: left;
    align-content: center;
}

#article {
  border: 1px solid black;
  width: 90%;
  height: 70%;
  background-color: #777777;
  margin: 0 0 0 25px
   
}
p{
  text-align: center;
  vertical-align: middle;
}
.xyz{
  background-color: #ebebeb;
  width: 90%;
  height: 20%;
  border: 0px solid black;
  margin: 20px;
  text-align: center;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
}

#aside {
  padding: 10px;
    background-color: #ebebeb;
    width: 39.7%;
    height: 250px;
    float: left;
    margin-left: 10px;
    text-align: center;
}
footer {
  padding: 15px;
  background-color: #ebebeb;
  height: 25px;
  clear: both;
  text-align: center;
  vertical-align: middle;
  line-height: px;

}